extends layout

block content
  div.header
    div.nav
      a 新闻
      a hao123
      a 地图
      a 视频
      a 贴吧
      a 学术
      a.sp_3 登录
      a.set.sp_3 设置

      a.link.sp_3 更多产品

  div.logo
    img(src='/images/logo.png')
  form
    input
    button 百度一下
    img(src='/images/icon.jpg').icon
  div.phone
    img(src='/images/fo.jpg')
    p 手机百度
  div.fot_link
    a 把百度设为主页
    a 关于百度
    a About Baidu
    a 百度推广
  div.copy
    span ©2017 Baidu
    span.sp_1 使用百度前必读
    span.sp_2 意见反馈
    span 京ICP证030173号
    img(src='/images/s_1.jpg').s_1
    span 京公网安备11000002000001号
    img(src='/images/s_2.jpg').s_2

